html {
    background-color: rgb(80, 80, 80);
}
.container {
    margin: auto;
    max-width: 600px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 25px;
    line-height: 15px;
}

.container p{
    line-height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 1.1em;
    font-weight: bold;
    color: #fcfaff;

}

.divText{
    margin-bottom: 15px;
    border-bottom: 1px solid #F7B661;

}

h4 {
    font-size:2em;
    color: #F7B661;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

li {
    line-height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 1.1em;
    color: #fcfaff; 
    font-weight: bold;
    font-size: 1.25rem;
    list-style: none;
}